<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ViewController</key>
	<dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>perform:</key>
			<string>ROOTTOONE</string>
			<key>presentClick:</key>
			<string>ROOTTOTWO</string>
		</dict>
		<key>PageEnentIDs</key>
		<dict>
			<key>Leave</key>
			<string>VC_ROOT_LEAVE</string>
			<key>Enter</key>
			<string>VC_ROOT_ENTER</string>
		</dict>
	</dict>
	<key>OneViewController</key>
	<dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>pushClick:</key>
			<string>ONETOTHREE</string>
			<key>popClick:</key>
			<string>ONEBACKROOT</string>
		</dict>
		<key>PageEnentIDs</key>
		<dict>
			<key>Enter</key>
			<string>ONEVC_ENTER</string>
			<key>Leave</key>
			<string>ONEVE_LEAVE</string>
		</dict>
	</dict>
	<key>TwoViewController</key>
	<dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>pushClick:</key>
			<string>TWOTOTHREE</string>
			<key>dismissClick:</key>
			<string>TWOBACKROOT</string>
		</dict>
		<key>PageEnentIDs</key>
		<dict>
			<key>Enter</key>
			<string>TWOVC_ENTER</string>
			<key>Leave</key>
			<string>TWOVC_LEAVE</string>
		</dict>
	</dict>
	<key>ThirdViewController</key>
	<dict>
		<key>ControlEventIDs</key>
		<dict>
			<key>dismissClick:</key>
			<string>THREEBACKONE</string>
			<key>popClick:</key>
			<string>POPBACK</string>
		</dict>
		<key>PageEnentIDs</key>
		<dict>
			<key>Leave</key>
			<string>THREEVC_LEAVE</string>
			<key>Enter</key>
			<string>THREEVC_ENTER</string>
		</dict>
	</dict>
</dict>
</plist>
